<a href="https://colab.research.google.com/github/salahshour/First/blob/main/Level_Test_Salahshour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://apac.ee.kntu.ac.ir/wp-content/uploads/2024/09/apacgroup-logo.svg)

# Level Test
### Note: people who can answer this test **do not** need to attend first 50 hour of Python course

The questions will be given and you sould code in the box below

# Q1 :
calaulate the mod of three digit prime number(choose on your own) to 2 and proof that it is True

In [4]:
# Select a three-digit prime number
prime_number = 111

# Calculate modulo 2
mod_result = prime_number % 2

# Display the result
print(f"{prime_number} mod 2 = {mod_result}")

# Proof that the number is odd
if mod_result == 1:
    print("✅ The selected number is odd, so mod 2 is equal to 1.")
else:
    print("❌ The result is incorrect, please check the number.")

111 mod 2 = 1
✅ The selected number is odd, so mod 2 is equal to 1.

# Q2:
code to get two string first print the type of input and then put them together(give it your name and last name)

In [5]:
# Get two strings from the user
first_name = "Reza"
last_name = "Salahshour"

# Print the type of each input
print("Type of first_name:", type(first_name))
print("Type of last_name:", type(last_name))

# Concatenate the strings
full_name = first_name + " " + last_name

# Print the result
print("Full name:", full_name)

Type of first_name: <class 'str'>
Type of last_name: <class 'str'>
Full name: Reza Salahshour

# Q3:
create a list with 5 member and change the the three one to Iran

In [6]:
# Create a list with 5 members
my_list = ["USA", "Canada", "Germany", "France", "Japan"]

# Change the third element (index 2) to "Iran"
my_list[2] = "Iran"

# Print the updated list
print(my_list)

['USA', 'Canada', 'Iran', 'France', 'Japan']

# Q4:
create a dictionary with 5 member assign a b c d e to 1 to 5 and print Dictionary items

# Q5:
Open an existing file in your computer and print last line(you can make a txt file then do it)

In [7]:
# Step 1: Create a sample text file and write multiple lines
with open("sample.txt", "w") as file:
    file.write("First line\n")
    file.write("Second line\n")
    file.write("Third line\n")
    file.write("Fourth line\n")
    file.write("Last line\n")

# Step 2: Open the file again and read the last line
with open("sample.txt", "r") as file:
    lines = file.readlines()
    last_line = lines[-1]  # Get the last line

# Step 3: Print the last line
print("Last line of the file:", last_line.strip())

Last line of the file: Last line

# Q6:
Check 255 is greater than 188 and 255 is smaller than 189 in one line

In [8]:
print(188 < 255 < 189)

False

# Q7:
assign a your name to variable name person check it among your friends name if its true print 'HOORA'

In [9]:
# Assign a name to the variable
person = "Reza"

# List of friends
friends = ["Amir", "ali", "Reza", "Hamid"]

# Check if the person is among the friends
if person in friends:
    print("HOORA")

HOORA

# Q8:
create a list 1 to 10 then check for even numbers then print all using for loops

In [10]:
# Create a list from 1 to 10
numbers = list(range(1, 11))

# Loop through the list and check for even numbers
for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

# Q9:
consider x is 12 while x is between 10 to 15 print good else continue

In [11]:
x = 12

if 10 <= x <= 15:
    print("good")
else:
    pass  # continue doing nothing

good

# Q10:
make a list from 0 to 10000 with step of 100 using "range" shuffle this list and pick index 10

In [12]:
import random

# Create list from 0 to 10000 with step 100
numbers = list(range(0, 10001, 100))

# Shuffle the list
random.shuffle(numbers)

# Print the element at index 10
print(numbers[10])

5800

# Q11:
Consider list of 1 to 5 append 6 in it and count even number in it using a function

In [13]:
# Create list from 1 to 5
numbers = list(range(1, 6))

# Append 6 to the list
numbers.append(6)

# Define a function to count even numbers in a list
def count_even(nums):
    count = 0
    for num in nums:
        if num % 2 == 0:
            count += 1
    return count

# Call the function and print the result
even_count = count_even(numbers)
print("Number of even numbers:", even_count)

Number of even numbers: 3

# Q12:
write a function that get string and uppercase the first letter if it's capital print it's True

In [14]:
def uppercase_first_letter(s):
    # Check if first letter is already uppercase
    if s and s[0].isupper():
        print(True)
    else:
        # Uppercase the first letter and return the modified string
        s = s.capitalize()
    return s

# Example usage:
result = uppercase_first_letter("hello")
print(result)  # Output: Hello

result = uppercase_first_letter("World")
# This will print True

Hello
True

# BA TASHAKOR- SALAHSHOUR